<template>
    <v-row justify="center" >

        <v-dialog
        v-model="dialog"
        max-width="400"
        >
            <v-card>
            <v-card-title>
                <span class="headline">Add new {{currentType}}</span>
                </v-card-title>

                <v-col cols="12">
                        <v-text-field label="Enter the name" required v-model="newItem"></v-text-field>
                </v-col>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="saveNewItemButton">Save</v-btn>
                    <v-btn color="blue darken-1" text @click="closeModal">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
  </v-row>
</template>

<script>


export default {
  name: 'AddNewModal',
  components: {
  },

  props: [ 'currentType'],
  data: () => ({
    newItem: '',
    dialog: true
  }),

  methods: {
      closeModal() {
        this.$emit('closeModal', false)
      },
      saveNewItemButton() {
        // this.dialog = false;
        this.$emit('saveNewItem', this.newItem); 
        this.$emit('closeModal', false);      
      }
  }
};
</script>