<template>
  <v-layout row wrap justify-space-around >
    <Offers :bigScreen='true' class="addPadding"/>
    <Outcomes :bigScreen='true' class="addPadding"/>
    <Incomes :bigScreen='true' class="addPadding"/>
  </v-layout>
</template>

<script>

import Offers from './Offers'
import Outcomes from './Outcomes'
import Incomes from './Incomes'

export default {
  name: 'AllWidgets',

  components: {
    Offers,
    Outcomes,
    Incomes
  },

  data: () => ({

  }),

  methods: {

  }
};
</script>

<style scoped>
  .addPadding {
    padding: 1em;
  }
</style>