<template>
    <div>
      <v-app-bar app flat
        color="#303030 accent-4"  dark >
        <img :src="require('../logo2.png')" height="100"/>
  
        <v-spacer></v-spacer>
        <v-spacer></v-spacer>
        <v-spacer></v-spacer>
        <v-spacer></v-spacer>

        <v-btn-toggle
        v-model="text"
        tile
        group 
        >
            <v-btn to="/" class="d-none d-sm-block buttons" value="all" > All </v-btn>
            <v-btn to="/offers" class="d-none d-sm-block buttons" value="Offers"> Offers </v-btn>
            <v-btn to="/incomes" class="d-none d-sm-block buttons" value="Incomes"> Incomes </v-btn>
            <v-btn to="/outcomes" class="d-none d-sm-block buttons" value="Outcomes"> Outcomes </v-btn>
        </v-btn-toggle>


        <v-spacer></v-spacer>
        <v-spacer></v-spacer>
        <v-text-field background-color="grey"
            solo
            label="Search..."
            append-icon="mdi-magnify"
            hide-details
            class="d-none d-sm-block"
        >
        </v-text-field>

        <v-app-bar-nav-icon class="d-sm-none" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>


        <v-navigation-drawer
        v-model="drawer"
        temporary
        right 
        height="max-content"
        id="navigationDraw"
        >
            <v-list
            nav
            dense
            >
                <v-list-item-group
                v-model="group"
                active-class="blue--text text--accent-4"
                >
                    <v-list-item to="/">
                        <v-list-item-title>All</v-list-item-title>
                    </v-list-item>

                    <v-list-item to="/offers">
                        <v-list-item-title>Offers</v-list-item-title>
                    </v-list-item>

                    <v-list-item to="/incomes">
                        <v-list-item-title>Incomes</v-list-item-title>
                    </v-list-item>

                    <v-list-item to="/outcomes">
                        <v-list-item-title>Outcomes</v-list-item-title>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-navigation-drawer>

      <v-footer absolute app dark  id="footer">
          <v-col  class="text-center" cols="12" >
          Created by Maryna Tochkova for FastBill
          </v-col>
      </v-footer>
    </div>   
</template>

<script>
  export default {
    data: () => ({
      drawer: false,
      group: null,
      text: 'center'
    }),

    watch: {
      group () {
        this.drawer = false
      },
    },
  }
</script>

<style scoped>
 #footer {
     clip-path: polygon(0 0, 100% 0%, 91% 100%, 0% 100%);
 }

 #navigationDraw{
     margin-top: 64px; 
     max-height: calc(100% - 96px); 
     transform: translateX(0px);
     position: fixed;
     border-radius: 4px;
     border: thin solid rgba(0, 0, 0, 0.12);
     height: auto !important;
     max-height: fit-content;
 }

.buttons {
     padding-top: 1em !important; 
     border-radius: 4px !important;
}

</style>