<template>
    <TemplateWidget :currentObject="incomesObject" v-on:saveNewItem="saveNewItem" :bigScreen='bigScreen'/>    
</template>

<script>


import TemplateWidget from "./TemplateWidget"

export default {
  name: 'Incomes',
  components: {
      TemplateWidget
  },
  props: ['bigScreen'],
  data: () => ({
    incomesObject: {
        colName: 'Incomes',
        buttonName: 'income',
        itemsArray: ['Real estate', 'Dividend stocks', 'Peer-to-peer lending'],
     },
  }),

  methods: {
     saveNewItem(newItem) {
          this.incomesObject.itemsArray.push(newItem);
      }
  }
};
</script>

<style scoped>

</style>