<template>
    <TemplateWidget :currentObject="offersObject" v-on:saveNewItem="saveNewItem" :bigScreen='bigScreen'/>    
</template>

<script>

import TemplateWidget from "./TemplateWidget"

export default {
  name: 'Offers',
  components: {
      TemplateWidget
  },
  props: ['bigScreen'],
  data: () => ({
    offersObject: {
        colName: 'Offers',
        buttonName: 'offer', 
        itemsArray: ['Payroll accounting','Financial accounting', 'Annual reporting', 'International accounting '],
    }
  }),

  methods: {
     saveNewItem(newItem) {
          this.offersObject.itemsArray.push(newItem);
      }
  }
};
</script>

<style scoped>

</style>