<template>
    <TemplateWidget :currentObject="outcomesObject" v-on:saveNewItem="saveNewItem" :bigScreen='bigScreen'/>    
</template>

<script>


import TemplateWidget from "./TemplateWidget"

export default {
  name: 'Outcomes',
  components: {
      TemplateWidget
  },
  props: ['bigScreen'],
  data: () => ({
    outcomesObject: {
         colName: 'Outcomes',
         buttonName: 'outcome', 
         itemsArray: ['Savings', 'Investments']
     }
  }),

  methods: {
     saveNewItem(newItem) {
          this.outcomesObject.itemsArray.push(newItem);
      }
  }
};
</script>

<style scoped>

</style>