<template>
    <v-row justify="center" >
    <v-flex >
        <v-dialog
        v-model="dialog"
        max-width="400"
        >
            <v-card>
            <v-card-title class="titleBorder"
            >
                <span class="headline text-uppercase"> My {{currentType+'S'}} </span>
                <v-spacer></v-spacer>
                    <v-list-item-avatar
                    tile                  
                    right
                    size='100'
                    v-bind:style="{marginTop: '-5%'}"
                    >
                        <v-img right  :src="require('../logo2.png')"></v-img>
                    </v-list-item-avatar>
                </v-card-title>

                <v-list class="listContainer">
            <v-list-item-group >
                <v-list-item v-for="item in activeObject.itemsArray" :key="item">
                            <v-list-item-content>
                            <v-list-item-title ><strong><span>&#10003;</span></strong> {{item}} </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="closeModal">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>    
  </v-row>
</template>

<script>


export default {
  name: 'ShowAllModal',
  components: {
  },

  props: [ 'currentType', 'activeObject'],
  data: () => ({
    newItem: '',
    dialog: true
  }),

  methods: {
    closeModal(){
        this.$emit('closeModal', false)
    }
  }
};
</script>

<style scoped>
.titleBorder{
    border-bottom: 4px #1c9e75 solid;
}
</style>