<template>
<v-flex v-bind:md6="!bigScreen" v-bind:md4="bigScreen" xs12 sm12>
        <v-card
        class="mx-auto"
        outlined
        elevation="24">         
            <v-alert border="bottom"
                colored-border
                color="#0088ff"
                elevation="1" style="font-size:1.7em">    
                {{currentObject.colName}}
            </v-alert>
            <v-list class="listContainer">
                <v-list-item-group >
                    <v-list-item v-for="item in currentObject.itemsArray" :key="item">
                        <v-list-item-content>
                        <v-list-item-title ><strong><span>&#10003;</span></strong> {{item}} </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>

            <v-card-actions align-center>
                <v-layout justify-center flex-wrap>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                            <v-btn class="ma-2" outlined color="#0088ff" v-on="on" v-on:click='newAddClicked'>+ {{currentObject.buttonName}}</v-btn>
                        </template>
                        <span>Add {{currentObject.buttonName}}</span>
                    </v-tooltip>
                    <v-btn class="ma-2" outlined color="#0088ff" v-on:click="showAll">Show all</v-btn>
                </v-layout>
            </v-card-actions>
        </v-card>
            <AddNewModal v-if="addWasCliked"  :currentType='currentObject.buttonName' 
            v-on:closeModal='changeBoolen' v-on:saveNewItem='saveNewItem'/>
            <ShowAllModal v-if="showAllClicked" :currentType='currentObject.buttonName' :activeObject='currentObject'
            v-on:closeModal='changeBoolenShow'/>
        <!-- </v-flex> -->
    </v-flex>
</template>

<script>

import AddNewModal from "./AddNewModal"
import ShowAllModal from "./ShowAllModal"

export default {
  name: 'TemplateWidget',  
  components: {
    AddNewModal,
    ShowAllModal
  },

  props: ['currentObject', 'bigScreen'],

  data: () => ({
    addWasCliked: false,
    showAllClicked: false
  }),
  
  methods: {
      newAddClicked() {
          this.addWasCliked = true;
      },
      changeBoolen(arg) {
          this.addWasCliked = arg;
      },
      saveNewItem(newItem) {
          this.$emit('saveNewItem', newItem); 
      },
      showAll(){
        this.showAllClicked = true;
      },
      changeBoolenShow(arg) {
          this.showAllClicked = arg;
      }
  }
};
</script>

<style scoped>

</style>