<template>
  <v-app id="backgroundBody">
    <HeaderFooter />
    <v-container class="colContainer">
      <v-layout row wrap justify-space-around v-bind:style="{marginBottom: '70px'}"> 
        <router-view :key="$route.fullPath"/>
      </v-layout>
    </v-container>

  </v-app>
</template>

<script>

import HeaderFooter from './components/HeaderFooter'

export default {
  name: 'App',

  components: {
    HeaderFooter
  },

  data: () => ({
  }),

  methods: {

  }
};
</script>

<style >

  #backgroundBody {
    background-color: #81cded;
  }

  .colContainer{
    height: 70%;
    width: 63%;
    margin-top: 12%;
  }

  .listContainer {
    height: 200px;
    overflow-y: auto;
  }
</style>
