<template>
  <v-app id="backgroundBody">
    <HeaderFooter />

    <v-container class="colContainer" >
      <v-layout row wrap justify-space-around>   
          <router-view :key="$route.fullPath" @sendDataFromWidgetsToApp="dataFromWidget"/>    
          <AddNew v-if='addNewClicked' @closeModal="addNewClicked=$event" :newItemCurrentType='newItemCurrentType'/>
      </v-layout>
    </v-container>

  </v-app>
</template>

<script>

import HeaderFooter from './components/HeaderFooter'
import AddNew from './components/AddNew'


export default {
  name: 'App',

  components: {
    HeaderFooter,
    AddNew
  },

  data: () => ({
    addNewClicked: false,
    newItemCurrentType: ''
  }),

  methods: {
    dataFromWidget(arg1, arg2) {
      this.addNewClicked = arg2;
      this.newItemCurrentType = arg1; 
    }

  }
};
</script>

<style >
  #backgroundBody {
    background-color: #81cded;
  }

  .colContainer{
    height: 70%;
    width: 63%;
    margin-top: 8%;
  }

  /* .eachCol {
    border-radius: 8px;
    max-width: 100% !important;
  } */
  .listContainer {
    height: 200px;
    overflow-y: scroll;
  }
</style>
