<template>
  <v-app id="backgroundBody">
    <HeaderFooter />

<v-container class="colContainer">
  <v-layout row wrap justify-space-around>
   
   <router-view/>

  </v-layout>
</v-container>

  </v-app>
</template>

<script>

import HeaderFooter from './components/HeaderFooter'

export default {
  name: 'App',

  components: {
    HeaderFooter
  },

  data: () => ({
    allClicked: false,
    offersClicked: false,
    incomesClicked: false,
    outcomesClicked: false
  }),
};
</script>

<style >
  #backgroundBody {
    background-color: #81cded;
  }

  .colContainer{
    height: 70%;
    width: 63%;
    margin-top: 8%;
  }

  /* .eachCol {
    border-radius: 8px;
    max-width: 100% !important;
  } */
  .listContainer {
    height: 200px;
    overflow-y: scroll;
  }
</style>
