<template>
  <v-app id="backgroundBody">
    <HeaderFooter />
<<<<<<< HEAD

    <v-container class="colContainer" >
      <v-layout row wrap justify-space-around>   
          <router-view :key="$route.fullPath" @sendDataFromWidgetsToApp="dataFromWidget"/>    
          <AddNew v-if='addNewClicked' @closeModal="addNewClicked=$event" :newItemCurrentType='newItemCurrentType'/>
      </v-layout>
    </v-container>
=======
    <v-container class="colContainer">
      <v-layout row wrap justify-space-around v-bind:style="{marginBottom: '70px'}"> 
        <router-view/>
      </v-layout>
    </v-container>

<!-- 
      <v-footer absolute app dark  id="footer">
          <v-col  class="text-center" cols="12" >
          Created by Maryna Tochkova for FastBill
          </v-col>
      </v-footer> -->
>>>>>>> two-refactoring-merge

  </v-app>
</template>

<script>

import HeaderFooter from './components/HeaderFooter'
import AddNew from './components/AddNew'


export default {
  name: 'App',

  components: {
    HeaderFooter,
    AddNew
  },

  data: () => ({
<<<<<<< HEAD
    addNewClicked: false,
    newItemCurrentType: ''
=======

>>>>>>> two-refactoring-merge
  }),

  methods: {
    dataFromWidget(arg1, arg2) {
      this.addNewClicked = arg2;
      this.newItemCurrentType = arg1; 
    }

  }
};
</script>

<style >
  #backgroundBody {
    background-color: #81cded;
  }

  .colContainer{
    height: 70%;
    width: 63%;
    margin-top: 8%;
  }

  .listContainer {
    height: 200px;
    overflow-y: scroll;
  }
</style>
