<template>
  <v-app id="backgroundBody">
    <HeaderFooter />
    <v-container class="colContainer">
      <v-layout row wrap justify-space-around v-bind:style="{marginBottom: '70px'}"> 
        <router-view/>
      </v-layout>
    </v-container>

<!-- 
      <v-footer absolute app dark  id="footer">
          <v-col  class="text-center" cols="12" >
          Created by Maryna Tochkova for FastBill
          </v-col>
      </v-footer> -->

  </v-app>
</template>

<script>

import HeaderFooter from './components/HeaderFooter'

export default {
  name: 'App',

  components: {
    HeaderFooter
  },

  data: () => ({

  }),
};
</script>

<style >
  #backgroundBody {
    background-color: #81cded;
  }

  .colContainer{
    height: 70%;
    width: 63%;
    margin-top: 8%;
  }

  .listContainer {
    height: 200px;
    overflow-y: scroll;
  }
</style>
